__pycache__/
.env
data/
*.pkl
jenkins_tutorial/
.venv/
.pytest_cache/
artifacts/
*.parquet
*.csv
test/
database/
*.log
logs_tracking/
.credentials/
.terraform/
.terraform.*
*.tfstate
mlruns/
terraform.tfstate.backup
*.zip